body{
    background-image: url("https://st4.depositphotos.com/1000874/31643/i/600/depositphotos_316435380-stock-photo-the-man-is-working-with.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
}