<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fibrolaser - Artistica</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9cf5630080.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilostablas.css}">
</head>
<body>

<header class="hero">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Pagina Principal</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Productos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Empresa</a></li>
                    <li class="nav-item" sec:authorize="hasRole('CLIENTE')">
                        <a href="#" class="nav-link text-white">Realizar Pedido</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'ATENCION')">
                        <a th:href="@{/clientes}" class="nav-link text-white">Clientes</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'ATENCION', 'OPERADOR' , 'DISEÑADOR')">
                        <a th:href="@{/pedidos}"  class="nav-link text-white">Pedidos</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                        <a th:href="@{/estadospedidos}"  class="nav-link text-white">Estados Ped</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/usuarios}"  class="nav-link text-white">Usuarios</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/roles}"  class="nav-link text-white">Roles</a>
                    </li>
                </ul>
                <a class="btn btn-dark" th:href="@{/logout}" >Cerrar Sesion</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <form th:action="@{/estadospedidos/__${action}__}" th:object="${estado}" method="post" autocomplete="off"
                      class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{id}">

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{nombre}" id="nombre" class="form-control" placeholder="Entregado"
                               required>
                        <label for="nombre">Nombre</label>
                        <div class="invalid-feedback">El nombre es requerido</div>
                    </div>


                    <button th:text="${action == 'create' ? 'Create' : 'Update'}" type="submit" class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>

</main>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>
</html>