<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fibrolaser - Artistica</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9cf5630080.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/estilostablas.css}">
</head>
<body>

<header class="hero">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/auth/home}">FIBROLASER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/auth/home}">Pagina Principal</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Productos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Empresa</a></li>
                    <li class="nav-item" sec:authorize="hasRole('CLIENTE')">
                        <a href="#" class="nav-link text-white">Realizar Pedido</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'ATENCION')">
                        <a th:href="@{/clientes}" class="nav-link text-white">Clientes</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'ATENCION', 'OPERADOR' , 'DISEÑADOR')">
                        <a th:href="@{/pedidos}"  class="nav-link text-white">Pedidos</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                        <a th:href="@{/estadospedidos}"  class="nav-link text-white">Estados Ped</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/usuarios}"  class="nav-link text-white">Usuarios</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/roles}"  class="nav-link text-white">Roles</a>
                    </li>
                </ul>
                <a class="btn btn-dark" th:href="@{/logout}" >Cerrar Sesion</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <div th:if="${exito}" th:text="${exito}" class="alert alert-success" role="alert"></div>

                <div th:if="${roles.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                    No existen usuarios registrados
                </div>

                <div th:unless="${roles.isEmpty()}" class="table-responsive">
                    <a class="btn btn-primary mb-2" th:href="@{/roles/form}">Crear Rol</a>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-dark">
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="rol : ${roles}">
                            <td th:text="${rol.id}"></td>
                            <td th:text="${rol.name}"></td>
                            <td>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Accion
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{roles/form/__${rol.id}__}">Editar</a></li>
                                    <li><a class="dropdown-item" th:href="@{/roles/delete/__${rol.id}__}">Eliminar</a></li>
                                </ul>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>


</main>

<footer th:fragment="footer" class="bg-dark fixed-bottom text-center text-white py-3" >
    <span th:text="${session.id != null} ? |${session.username} - ${session.rol}| : 'FIBROLASER'"></span>
</footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>